.webcam {
  border-radius: 10px;
}

/* Buttons */
.capture-button,
.send-button {
  background-color: #fffdd0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}

.back-button {
  position: fixed;
  top: 20px;
  cursor: pointer;
  left: 20px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 25px;
}

.clearButton {
  background: none;
  border: none; /* Optionally, remove borders if needed */
  cursor: pointer; /* Ensure cursor changes to pointer on hover */
}

/* Input boxes */
.food-input {
  width: 100px;
  height: 40px;
  font-size: 12px;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
}

.portion-size-input {
  width: 50px;
  height: 40px;
  font-size: 12px;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
}

.page-input {
  width: 100px;
  height: 40px;
  font-size: 12px;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 12px;
  border-radius: 12px;
}

/* Labels and Headings */

.page-label {
  font-size: 12px;
}

.error-label {
  font-size: 12px;
  color: #ff0000;
}

.page-label-bold {
  font-size: 12px;
  margin-left: 30px;
  font-weight: bold;
}

.page-label-bold-age {
  font-size: 12px;
  margin-left: 30px;
  font-weight: bold;
  margin-right: 46px;
}

.page-label-bold-gender {
  font-size: 12px;
  margin-left: 30px;
  font-weight: bold;
  margin-right: 27px;
}

.my-heading {
  color: burlywood;
  font-family: Arial, sans-serif;
}

.page-label {
  font-size: 12px;
  padding: 2px 32px;
  border-radius: 12px;
}

/* Forms, Divs and Modals */

.camera-capture-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Calories-Form {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 300px;
  font-size: 10px;
  background-color: #d2b48c;
}

.my-modal {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border-radius: 10px;
}

.my-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button-model {
  background: none;
  border: none;
}

.dashboard {
  color: black;
}

.form {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  height: 500px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.form-row-bold {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}
