.webcam {
  border-radius: 10px;
}

.capture-button,
.send-button {
  background-color: #fffdd0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}

.portion-size-input {
  width: 50px;
  height: 40px;
  font-size: 12px;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
}

.page-input {
  width: 100px;
  height: 40px;
  font-size: 12px;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 12px;
  border-radius: 12px;
}

.page-label {
  font-size: 12px;
  padding: 2px 32px;
  border-radius: 12px;
}

.page-label-bold {
  font-size: 12px;
  padding: 2px 32px;
  border-radius: 12px;
  font-weight: bold;
}

.Dashboard-Heading-label {
  font-size: 12px;
  padding: 2px 32px;
  border-radius: 12px;
}

.my-heading {
  color: burlywood;
  font-family: Arial, sans-serif;
}

.camera-capture-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Calories-Form {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 300px;

  font-size: 10px;
  background-color: #d2b48c;
}

.my-modal {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border-radius: 10px;
}

.my-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-label {
  font-size: 12px;
  padding: 2px 32px;
  border-radius: 12px;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 25px;
}

.back-button-model {
  background: none;
  border: none;
}
